In [1]:
import pandas as pd
import requests
import json

In [7]:
data = pd.read_csv('./df_dum.csv')

In [8]:
data.head()

,DETERIORATION_RATE,STATE_CODE_001,TRAFFIC_LANES_ON_028A,MEDIAN_CODE_033,DEGREES_SKEW_034,MAIN_UNIT_SPANS_045,MAX_SPAN_LEN_MT_048,STRUCTURE_LEN_MT_049,DECK_WIDTH_MT_052,AGE,DESIGN_LOAD_031,TRUCK_ADT,MAINTENANCE_021,WATERWAY_EVAL_071,LONGITUDE,LATITUDE,STRUCTURE_KIND_043A_steel,FUNCTIONAL_CLASS_026_urban,SURFACE_TYPE_108A_concrete,SURFACE_TYPE_108A_none
0,0.150000,1,2,0,0,1,17.7,18.9,9.8,61.0,2,253.4,5.0,0,-87.390000,34.469000,1,1,0,0
1,0.100000,1,3,0,0,3,10.4,34.7,15.2,25.0,2,7.6,4.0,0,-86.508000,34.103000,0,1,1,0
2,0.200000,1,1,0,0,5,6.0,30.3,4.8,99.0,0,0.0,2.0,2,-85.335334,32.450336,1,0,1,0
3,0.080000,1,1,0,0,1,6.1,7.0,4.9,99.0,0,0.0,2.0,2,-85.310334,33.020668,1,0,0,0
4,0.111111,1,2,0,0,1,18.3,110.6,7.9,93.0,1,110.0,4.0,2,-87.190000,34.403000,1,0,0,0

In [10]:
data.shape

(91520, 20)

In [11]:
# Only take the bridges corresponding to Ohio state

data = data[data['STATE_CODE_001']==39]

In [12]:
data.shape

(4340, 20)

In [15]:
#Get elevation with one request at a time, due to Open Elevation API limitations in retrieving elevation data along a profile (easy to exceed max distance between points)

def geteachelevation(df):
    #Initialize variables
    location_df = df[['LATITUDE','LONGITUDE']]
    location_df.insert(loc=2,column='lat',value=0)
    location_df.insert(loc=3,column='long',value=0)
    location_df.insert(loc=4,column='elevation',value=0)
    API_KEY = 'AIzaSyC1kpe3jdOee7h_D7Ji8A9md7mMqH4-UxM'
    
    
    #parse location_df to convert lat/long to standard format
    location_df['lat'] = location_df['LATITUDE']
    location_df['long'] = location_df['LONGITUDE']
    location_df.reset_index(drop=True,inplace=True)
    
    
    #Request elevations
    for index, row in location_df.iterrows():
        api_string = str(row[2])+','+str(row[3])       
        response = requests.get('https://maps.googleapis.com/maps/api/elevation/json?locations='+api_string+'&key='+API_KEY)
        #parse json for elevations
        elev = json.loads(response.text)
    
        if 'elevation' in [i[0] for i in elev.values()][0].keys():
            elevation = [i[0] for i in elev.values()][0]['elevation']

            location_df.iloc[index,4] = elevation

    return location_df

In [16]:
elev_df = geteachelevation(data)

/home/dsc/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]
/home/dsc/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/home/dsc/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)
/home/dsc/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [17]:
elev_df.head()

    LATITUDE  LONGITUDE        lat       long   elevation
0  38.563001 -83.401167  38.563001 -83.401167  211.008438
1  38.563001 -83.401335  38.563001 -83.401335  215.009430
2  38.536502 -83.271668  38.536502 -83.271668  281.445312
3  38.410834 -83.372834  38.410834 -83.372834  340.709839
4  38.416168 -83.349003  38.416168 -83.349003  280.783264

In [18]:
elev_df.to_csv (r'./elev_OH.csv', index = None, header=True)