# Dataframe preparation

Once we have downloaded all the datasets we will be using in our project, the first thing we should do is preparing the dataframe we will be working on.

In [2]:
# Importing modules
import pandas as pd
import numpy as np

In [3]:
pd.set_option('display.max_columns',None)

In [44]:
rating_cols = ['STATE_CODE_001','STRUCTURE_NUMBER_008','DECK_COND_058','SUPERSTRUCTURE_COND_059','SUBSTRUCTURE_COND_060']

In [45]:
df17 = pd.read_csv('./data/2017hwybronlyonefile.zip',compression = 'zip',sep = ',',encoding='latin-1',usecols = rating_cols)

/home/dsc/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [46]:
df17.head()

,STATE_CODE_001,STRUCTURE_NUMBER_008,DECK_COND_058,SUPERSTRUCTURE_COND_059,SUBSTRUCTURE_COND_060
0,1,00000000000S702,8,8,7
1,1,00000000000S703,8,8,7
2,1,0000000000M0022,5,5,6
3,1,000000883039900,7,7,7
4,1,000001014002450,6,6,7

In [7]:
# Function for new variable: Total Rating (TR)

def TotalRating(row):
    dr = row['DECK_COND_058']
    supr = row['SUPERSTRUCTURE_COND_059']
    subr = row['SUBSTRUCTURE_COND_060']
    minval = min(dr, supr, subr)
    maxval = max(dr, supr, subr)
   
    if minval <= 4:
        rating = minval
        
    elif minval >= 8:
        rating = (dr+supr+subr)/3
        
    else:
        medval = dr+subr+supr-minval-maxval
        rating = 0.5*minval+0.2*maxval+0.3*medval

    return rating

In [76]:
filenames = []
for year in range(2011,2018):
    year = str(year)
    path = "./data/"+year+"hwybronlyonefile.zip"
    filenames.append(path)

In [47]:
df17 = df17[(df17['DECK_COND_058']!='N') & (df17['SUPERSTRUCTURE_COND_059']!='N') & (df17['SUBSTRUCTURE_COND_060']!='N') ]

In [48]:
# Pasamos los valores de rating a números
df17['DECK_COND_058'] = pd.to_numeric(df17['DECK_COND_058'])
df17['SUPERSTRUCTURE_COND_059'] = pd.to_numeric(df17['SUPERSTRUCTURE_COND_059'])
df17['SUBSTRUCTURE_COND_060'] = pd.to_numeric(df17['SUBSTRUCTURE_COND_060'])

In [49]:
# Quitamos los nulls
df17.dropna(inplace=True)

In [50]:
# Creamos la columna con el Total Rating para cada año
df17['TR17'] = df17.apply(lambda row: TotalRating(row),axis=1)

In [51]:
df17.head(10)

,STATE_CODE_001,STRUCTURE_NUMBER_008,DECK_COND_058,SUPERSTRUCTURE_COND_059,SUBSTRUCTURE_COND_060,TR17
0,1,00000000000S702,8,8,7,7.5
1,1,00000000000S703,8,8,7,7.5
2,1,0000000000M0022,5,5,6,5.2
3,1,000000883039900,7,7,7,7.0
4,1,000001014002450,6,6,7,6.2
5,1,000001331700710,5,5,5,5.0
6,1,000002,7,4,5,4.0
7,1,000004,4,4,4,4.0
8,1,000004504800350,7,7,7,7.0
9,1,000005,5,4,4,4.0

In [52]:
df17.drop(['DECK_COND_058','SUPERSTRUCTURE_COND_059','SUBSTRUCTURE_COND_060'], axis=1, inplace = True)

In [53]:
df17.head()

   STATE_CODE_001 STRUCTURE_NUMBER_008  TR17
0               1      00000000000S702   7.5
1               1      00000000000S703   7.5
2               1      0000000000M0022   5.2
3               1      000000883039900   7.0
4               1      000001014002450   6.2

In [33]:
# Vamos a leer el dataset del 2018 para hacer el join
total18_fil = pd.read_csv('total18_fil.csv')

In [35]:
df18 = total18_fil
df18['TR18'] = df18.apply(lambda row: TotalRating(row),axis=1)

In [36]:
df18.shape

(175597, 26)

In [41]:
# Since we are looking for joining all the datasets with this one by using the Structure number, we should first check that there are no duplicates on it
df18['STRUCTURE_NUMBER_008'].duplicated().value_counts()

False    168029
True       7568
Name: STRUCTURE_NUMBER_008, dtype: int64

In [42]:
duplicateRowsDF = df18[df18.duplicated(['STRUCTURE_NUMBER_008'])]
 
print("Duplicate Rows based on a single column are:", duplicateRowsDF, sep='\n')

Duplicate Rows based on a single column are:
        STATE_CODE_001 STRUCTURE_NUMBER_008     LAT_016     LONG_017  \
4887                 4                 7596  33341889.0  112055871.0
4888                 4                 7599  33392236.0  111583868.0
4890                 4                 7630  32080210.0  110593544.0
4911                 4                 7960  33260652.0  112000059.0
4916                 4                 7976  33260645.0  112000845.0
4932                 4                 8273  32161600.0  110545144.0
4933                 4                 8299  31592323.0  110335599.0
4934                 4                 8318  32010558.0  111042867.0
4937                 4                 8460  32205462.0  111031169.0
4938                 4                 8482  31258000.0  110577000.0
4957                 4                 8643  31225000.0  110506000.0
4978                 4                 8842  32422050.0  114413590.0
4992                 4                 8956  32463180.0  111340336.0
5009                 4                 9006  32140600.0  110591200.0
5033                 4                 9580  33381890.0  111553140.0
5042                 4                 9693  33254764.0  111553468.0
5049                 4                 9741  33243406.0  112055817.0
5050                 4                 9742  33251172.0  112035349.0
5051                 4                 9754  33345680.0  111490550.0
5061                 4                 9802  32095976.0  110462208.0
5072                 4                 9839  33240216.0  111461632.0
5084                 4                 9887  33363860.0  112111970.0
6657                 5                 6565  36041006.0   90492564.0
6693                 5                 6628  35175993.0   92241382.0
6755                 5                 6756  35265370.0   93201658.0
6764                 5                 6766  34185586.0   94210425.0
6791                 5                 6803  35182063.0   93081810.0
6792                 5                 6804  36280512.0   91300552.0
6821                 5                 6863  33210178.0   93194848.0
6831                 5                 6888  35510936.0   90450223.0
...                ...                  ...         ...          ...
162843              51      000000000025813  38474223.0   77110924.0
162866              51      000000000025855  38464177.0   77104674.0
162872              51      000000000025881  36362491.0   78335685.0
162943              51      000000000026191  38221225.0   77271859.0
162958              51      000000000026290  36434844.0   82454191.0
163018              51      000000000026491  38461165.0   78444106.0
163038              51      000000000026640  36402950.0   76535336.0
163043              51      000000000026645  37303503.0   77411524.0
163056              51      000000000026678  36412810.0   78531417.0
163058              51      000000000026680  36415835.0   78531930.0
163132              51      000000000027101  38474937.0   77035039.0
163200              51      000000000027450  38472936.0   77103146.0
163223              51      000000000027580  36453392.0   80100235.0
163280              51      000000000028156  38445685.0   77335106.0
163296              51      000000000028280  38475204.0   77045179.0
163332              51      000000000028545  36521405.0   78434285.0
163432              51      000000000029350  38263220.0   78161310.0
163454              51      000000000029520  37284373.0   77202375.0
163475              51      000000000029720  37253673.0   82052207.0
163504              51      000000000029757  37263270.0   82011424.0
163546              51      000000000029980  38494776.0   77065091.0
163547              51      000000000029995  38443826.0   77090289.0
163557              51      000000000030104  38251704.0   78532472.0
163566              51      000000000030308  38481742.0   77365059.0
163572              51      000000000030340  38453956.0   77370772.0
163578              51      000000000030436  38435365.0   77082245.0
163589              51      000000000030675  38134944.0   77361518.0
174568              72               005181  18271200.0   66154800.0
174585              72               006071  18122325.0  654444390.0
175596              72               030291  18084300.0   66063400.0

        TRAFFIC_LANES_ON_028A  MEDIAN_CODE_033  DEGREES_SKEW_034  \
4887                        6                0                10
4888                        6                0                21
4890                        3                0                 4
4911                        2                0                 0
4916                        1                0                 0
4932                        2                0                20
4933                        2                0                 0
4934                        2                0                30
4937                        2                0                 0
4938                        2                0                 0
4957                        2                0                 0
4978                        2                0                 0
4992                        2                0                 0
5009                        4                2                15
5033                        8                0                13
5042                        6                0                 0
5049                        4                0                15
5050                        4                0                 0
5051                        6                2                43
5061                        2                0                45
5072                        4                0                61
5084                        5                0                30
6657                        2                0                60
6693                        4                0                 0
6755                        2                0                 0
6764                        2                0                30
6791                        5                0                30
6792                        2                0                30
6821                        2                0                 0
6831                        4                0                 0
...                       ...              ...               ...
162843                      9                0                16
162866                      5                0                 5
162872                      3                0                22
162943                      3                0                19
162958                      2                0                45
163018                      2                0                 0
163038                      2                0                 0
163043                      4                0                 0
163056                      2                0                 0
163058                      2                0                24
163132                      2                0                 0
163200                      2                0                27
163223                      2                0                18
163280                      5                2                 0
163296                      2                0                 0
163332                      2                0                 0
163432                      2                0                20
163454                      2                2                 0
163475                      1                0                 0
163504                      1                0                 0
163546                      1                0                 0
163547                      3                1                 0
163557                      4                2                 5
163566                      2                0                 0
163572                      2                1                 0
163578                      2                0                 0
163589                      2                0                 0
174568                      2                0                 0
174585                      1                0                 0
175596                      2                0                50

       STRUCTURE_KIND_043A  STRUCTURE_TYPE_043B  MAIN_UNIT_SPANS_045  \
4887              concrete                    2                    1
4888              concrete                    2                    1
4890              concrete                    2                    3
4911              concrete                    2                   16
4916              concrete                    2                    8
4932              concrete                    2                    5
4933                 steel                    2                    2
4934              concrete                    2                    4
4937              concrete                    2                    1
4938              concrete                    2                    3
4957              concrete                    2                    4
4978                 steel                    2                    1
4992              concrete                    2                    1
5009                 steel                    2                    4
5033              concrete                    2                    1
5042              concrete                    2                   11
5049              concrete                    2                    8
5050              concrete                    2                    5
5051              concrete                    2                    2
5061              concrete                    2                    4
5072              concrete                    2                    2
5084              concrete                    2                    4
6657                 steel                    2                    5
6693                 steel                    2                    4
6755                 steel                    2                    7
6764                 steel                    2                    1
6791                 steel                    2                    2
6792                 steel                    2                    3
6821                 steel                    2                    4
6831                 steel                    2                    3
...                    ...                  ...                  ...
162843               steel                    2                    1
162866            concrete                    2                    2
162872               steel                    2                    2
162943               steel                    2                    4
162958               steel                    2                    3
163018               steel                    2                    2
163038            concrete                    2                    5
163043               steel                    2                    2
163056               steel                    2                   13
163058               steel                    2                    2
163132               steel                    2                   11
163200            concrete                    2                    3
163223               steel                    2                    1
163280               steel                    2                    3
163296               steel                    2                    1
163332               steel                    2                    1
163432               steel                    2                    2
163454               steel                    2                    1
163475               steel                    2                    1
163504               steel                    2                    1
163546            concrete                    2                    8
163547               steel                    2                    1
163557               steel                    2                    2
163566            concrete                    2                    2
163572               steel                    2                    2
163578               steel                    2                    1
163589               steel                    2                    1
174568               steel                    2                    1
174585               steel                    2                    1
175596               steel                    2                    1

        MAX_SPAN_LEN_MT_048  STRUCTURE_LEN_MT_049  DECK_WIDTH_MT_052  \
4887                   19.5                  20.7               26.3
4888                   27.1                  27.7               25.5
4890                   31.7                  96.0               17.7
4911                   27.4                 411.2               19.1
4916                   27.4                 192.0                5.5
4932                   18.3                  92.0               11.0
4933                    9.8                  19.8                8.0
4934                   18.3                  73.2               13.6
4937                   11.6                  11.6               15.2
4938                   20.4                  62.8               10.4
4957                   18.6                  75.0               10.2
4978                   19.2                  20.2               14.9
4992                   21.3                  21.9               10.6
5009                   18.3                  68.6               26.7
5033                   26.2                  26.5               30.4
5042                   36.9                 406.3               29.0
5049                   38.1                 306.8               24.6
5050                   41.1                 206.6               23.2
5051                   22.3                  44.8               35.1
5061                   26.8                 107.9               14.3
5072                   15.5                  33.5               26.5
5084                   37.5                 150.3               25.2
6657                   25.0                 117.0               22.2
6693                   45.1                 157.6               22.2
6755                   16.2                 112.2               10.5
6764                   32.6                  33.2               13.0
6791                   41.8                  82.9               22.3
6792                   14.6                  40.2               13.2
6821                   11.6                  43.3               13.0
6831                   13.7                  37.5               22.3
...                     ...                   ...                ...
162843                 32.3                  32.3               48.5
162866                 26.5                  52.7               32.9
162872                 33.5                  67.7               16.6
162943                 25.9                  86.0               17.7
162958                 18.9                  40.5               10.1
163018                 17.7                  35.1               13.0
163038                 20.0                 100.6               17.7
163043                 42.1                  84.1               20.6
163056                 60.0                 653.3               12.7
163058                 18.0                  36.3               16.1
163132                 32.9                 355.1               19.9
163200                 37.8                 101.8               14.9
163223                  6.7                   6.7                7.9
163280                 25.6                  62.2               29.2
163296                 54.6                  55.2               10.7
163332                 11.6                  12.3                7.2
163432                 25.9                  51.8               12.7
163454                 49.2                  49.2               26.8
163475                  5.7                   7.7                4.3
163504                  7.6                   9.1                4.3
163546                 36.6                 293.0               11.0
163547                 43.6                  45.4               14.0
163557                 30.9                  61.8               27.6
163566                 35.0                  70.0               14.5
163572                 54.9                 110.6               13.3
163578                 38.7                  39.6                9.3
163589                 13.4                  14.0                7.9
174568                 11.8                  11.8               10.6
174585                  9.1                  10.7                6.1
175596                  8.0                  11.7                8.0

       SURFACE_TYPE_108A  YEAR_BUILT_027   ADT_029 DESIGN_LOAD_031  \
4887            concrete          1988.0   41200.0           heavy
4888            concrete          1978.0   30152.0           heavy
4890            concrete          1989.0   23500.0           heavy
4911            concrete          1991.0    9329.0           heavy
4916            concrete          1991.0    7967.0           heavy
4932          bituminous          1963.0    7000.0           heavy
4933          bituminous          1920.0     250.0           heavy
4934          bituminous          1973.0     400.0           heavy
4937          bituminous          1977.0     300.0           heavy
4938            concrete          1979.0    3000.0           heavy
4957            concrete          1981.0     250.0           heavy
4978            concrete          1986.0     100.0           heavy
4992            concrete          1985.0    1538.0           heavy
5009            concrete          1955.0    8748.0           heavy
5033          bituminous          1978.0   41600.0           heavy
5042            concrete          1981.0   51749.0           heavy
5049            concrete          1982.0   30583.0           heavy
5050            concrete          1983.0   29919.0           heavy
5051            concrete          1980.0   41088.0           heavy
5061          bituminous          1982.0   15349.0           heavy
5072            concrete          1986.0   22700.0           heavy
5084            concrete          1984.0   26700.0           heavy
6657            concrete          1995.0    3400.0           heavy
6693            concrete          1997.0    9500.0           heavy
6755            concrete          2001.0    1200.0           heavy
6764            concrete          2000.0    4200.0           heavy
6791            concrete          2003.0   27000.0           heavy
6792            concrete          2002.0    4400.0           heavy
6821            concrete          2003.0    1200.0           heavy
6831            concrete          2004.0   10000.0           heavy
...                  ...             ...       ...             ...
162843          concrete          2002.0  218419.0           heavy
162866              none          2000.0   74501.0           heavy
162872              none          2005.0    2895.0           heavy
162943          concrete          2005.0   13555.0           heavy
162958          concrete          1999.0    1118.0           heavy
163018              none          2000.0     607.0           heavy
163038          concrete          2002.0     890.0           heavy
163043              none          2003.0   14582.0           heavy
163056          concrete          2005.0    4963.0           heavy
163058          concrete          2006.0     974.0           heavy
163132          concrete          2008.0   10000.0           heavy
163200          concrete          2006.0   30172.0           heavy
163223        bituminous          2003.0      20.0           heavy

In [37]:
df17.shape

(469890, 2)

In [56]:
df2 = pd.merge(df18, df17, how= 'left', on = ['STATE_CODE_001','STRUCTURE_NUMBER_008'])

In [57]:
df2.shape

(175599, 27)

In [80]:
filenames = []
for year in range(2013,2018):
    year = str(year)
    path = "./data/"+year+"hwybronlyonefile.zip"
    filenames.append(path)

In [83]:
filenames

['./data/2013hwybronlyonefile.zip',
 './data/2014hwybronlyonefile.zip',
 './data/2015hwybronlyonefile.zip',
 './data/2016hwybronlyonefile.zip',
 './data/2017hwybronlyonefile.zip']

In [85]:
def createTR (filename,colname):
        
    # Create dataframes
    df = pd.read_csv(filename, compression = 'zip',sep = ',',encoding='latin-1',usecols = rating_cols)
    
    # Remove 'N'
    df = df[(df['DECK_COND_058']!='N') & (df['SUPERSTRUCTURE_COND_059']!='N') & (df['SUBSTRUCTURE_COND_060']!='N') ]
    
    # To numeric
    df['DECK_COND_058'] = pd.to_numeric(df['DECK_COND_058'])
    df['SUPERSTRUCTURE_COND_059'] = pd.to_numeric(df['SUPERSTRUCTURE_COND_059'])
    df['SUBSTRUCTURE_COND_060'] = pd.to_numeric(df['SUBSTRUCTURE_COND_060'])
    
    # Remove nulls
    df.dropna(inplace=True)
    
    # Creamos la columna con el Total Rating para cada año
    df[colname] = df.apply(lambda row: TotalRating(row),axis=1)
    
    return df

In [88]:
df17 = createTR('./data/2017hwybronlyonefile.zip','TR17')

/home/dsc/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3185: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  if (yield from self.run_code(code, result)):

In [89]:
df16 = createTR('./data/2016hwybronlyonefile.zip','TR16')